<!DOCTYPE html>
<html>

	<head>
	
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="css/Programomikon.css"media="screen"/>
		<title>
			Saboteur
		</title>
	</head>
    
    <body>
        <header id="top">
                <div id="imageTop">
                    <a href="/"><img class="top" src="img/logo.png"/></a>
                </div>
                <div id="textTop">
                    :(
                </div>	
        </header>
                <div id="midText">
                    <div id="select">
                        <button class="button" onclick="window.location.href='/'">Atras</button>
                        </div>

                </div>

				<div id="welcome">
					<h1> <%= message %> </h1>
					<h2> <%= error %> </h2>
				</div>
    </body>
</html>