<!DOCTYPE html>
<html>

	<head>
	
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="css/Programomikon.css"media="screen"/>
		<title>
			Saboteur
		</title>
	</head>
    
    <body>
        <header id="top">
                <div id="imageTop" >
                    <a href="index.html"><img class="top" src="img/Logo.png"/></a>
                </div>
                <div id="textTop">
                    <%= status %>
                </div>	
        </header>
                <div id="midText">
                    <div id="select">
                        <button class="button" onclick="window.location.href='login.html'">Login</button>
                        <button class="button" onclick="window.location.href='register.html'">Nuevo Usuario</button>  
                    </div>

                </div>

				<div id="welcome">
					<h1> Saludos, my aprendice </h1>
					Para entrar presenta tu gema sith en la sección Login.
					Si no tienes una, puedes crearla (veniendo tu alma al lado oscuro) pulsando en nuevo usuario.
				</div>
    </body>
</html>