/* Reglas CSS para versión en pantalla */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace');

body {
	color: #FFFFFF;
}

#unirse {
	font-size: 6pt;
}

h2{
	font-size: 15pt;
	color: #FFFFFF;
}

#top{
	margin-button:0px;
}
#midText{
	/*background-color:#999999;*/
	background-color: rgba(46, 44, 44, 0.7);
	margin-top:18px;
}

#principal { 
	top: 50%; 
	left: 50%; 
	margin: 30px 0 0 20px;
	background-color: rgba(46, 44, 44, 0.7);
	border-radius: 25px;
    border: 1px solid /*#C0C0C0*/ #CC900;
    padding: 15px; 
    width: auto;
    height: auto; 
	color: white;
	-webkit-box-shadow: -2px 10px 66px 20px rgba(0,0,0,0.35);
	-moz-box-shadow: -2px 10px 66px 20px rgba(0,0,0,0.35);
	box-shadow: -2px 10px 66px 20px rgba(0,0,0,0.35);
}

h3{
padding-left:5px;
font-size: 25pt;
color:#31B404;
}

h4{
font-size: 15pt;
padding-left:15px;
color:#31B404;
}

#textTop{
	position: absolute;
	right: 15px;
	top: 70px;
	font-style: oblique;
	font-size: 20pt;
	color: #FFFFFF;
	font-family: calibri;
}
#date{
	font-size:10px;
	color:grey;
}

table {
	border-collapse: collapse;
	border: 5px solid gray;
}

td.vacio {
	background-color: black;
}

tr.turno {
	background-color: #996633;
}

th, td {
	padding: 10px;
	border: 1px solid gray;
}

th {
	background-color: #663300;
}

.button {
	width: 190px;
    border: 2px solid white;
	background:#CCCCCC;
	text-align:center;
	font-size:20pt;
	cursor:pointer;
	transition-duration: 0.4s;
	padding:5px;
	margin-left:10px;
	font-family: 'Covered By Your Grace', cursive;
}

input {
    border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 3px;
    background: rgba(255,255,255,0.5);
}

input[type="submit"] {
    color: black;
    padding: 3px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

#select{
	font-size:16pt;
	color: #999999;
}

#text{
	float:left;
	padding:15px;
	border:black;
	width:70%;
	background:  url("../img/fondo_articulo.png") repeat;
	border:black solid 3px;
}
#leftText{
	float: right;
	border-color:black;
	border-width:2px;
	width:25%;
	background:  url("../img/fondo_articulo.png") repeat;
	border:black solid 3px;
}

#box-comentario {
	-webkit-box-shadow: 10px 10px 47px -5px rgba(0,0,0,0.29);
	-moz-box-shadow: 10px 10px 47px -5px rgba(0,0,0,0.29);
	box-shadow: 10px 10px 47px -5px rgba(0,0,0,0.29);
	background-color: rgba(110, 108, 106, 0.8);
	background: rgba(110, 108, 106, 0.8);	
}

#box-new-comentario {
	-webkit-box-shadow: 10px 10px 47px -5px rgba(0,0,0,0.29);
	-moz-box-shadow: 10px 10px 47px -5px rgba(0,0,0,0.29);
	box-shadow: 10px 10px 47px -5px rgba(0,0,0,0.29);
	background-color: rgba(46, 44, 44, 0.8);
	background: rgba(46, 44, 44, 0.8);
}